<h1>About Us</h1>
<p>
	<ul><li>Wouldn't it be sweet if people could easily contribute to the purchase of a really nice gift for someone?</li>
		<li>Wouldn't it be awesome if people could receive 1 special gift instead of 3 toasters?</li>
		<li>Wouldn't it be cool if it was fun and easy to start up a Giftring? And if checking its progress and completing the Ringwas a warm fuzzy use of yr keyboard?</li>
		<li>What if it interfaced with your other social networks? If it hooked up to Amazon wishlists but ultimately relied on friends—- and friends of friends-- for identity verification?</li>
		<li>What would you wish for...?</li>
</p>