<h1>Set Up a Ring!</h1>
<p>
    This will be the launch point for designing your Ring and adding functionality to it.<br>
There will be quite a few configurable options!<br>
Above all, it will be FUN.
</p>