@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  padding-bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container-navbar-inner {
  margin-right: 0;
  margin-left: 0;
  *zoom: 1;
}

.hero-unit {
  color: inherit;
  padding-top: 20px;
  background-color: rgb(253, 253, 235);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.navbar .brand {
  font-size: 18px;
}

.navbar .nav > li > a {
}

.navbar-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  font-family: 'Cherry Swash';
}

h2 {
  text-align: left;
  font-weight: normal;
  color: #999;
  font-family: 'Capriola';
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: 'Capriola';
  color: orange;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: black;
  text-decoration: none;
}